@import "libs/reset";
@import "libs/css3";
html,body{
    height:100%;
    position:relative;
    background:#ccc;
    font:12px/16px Arial;
}

body{
	.radialGradient(@from:#f8d1fe, @to:#f66cfb);
}

#client{
  padding-top:20px;
  #last-photos{
   clear:both;
   overflow-x:auto;
   img{
     float:left;
  	max-width:150px;
   }
  }
  video{
    margin:20px auto;
    display:block;
  }
  canvas{
  	display:none;
  }
  
}
nav{
    height:40px;
    position:fixed;
    bottom:-40px;
    background:#333;
    width:100%;
	.transition(bottom);
}

.camera-view nav{
	bottom:0px;
}

.simple-button{
    margin:5px 8px 0 0;
    display:block;
    float:right;
    padding:0px 15px;
    text-decoration: none;
    color:darkgreen;
    background:lightgreen;
    line-height:30px;
}

#imgContainer.tiled img{
	max-width:100px;
	float:left;
}


#connection-loading{
	position:absolute;
	height:300px;
	top:50%;
	width:100%;
	text-align:center;
	margin-top:-150px;
}